

        <div class="bg-white border-t">
            <div class="container mx-auto px-4">
              <div class="flex justify-between items-center text-sm">
                <div class="flex flex-row-reverse items-center py-4">
                  <div class="text-grey text-center mr-4">2022 Racing Shop</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
  </body>
  </html>