<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/output.css" rel="stylesheet">
    <title>Racing Shop</title>
</head>
<body>
    <div class="font-sans flex flex-col min-h-screen">
        <div>
          <div class="bg-red-500">
            <div class="container mx-auto px-4">
              <div class="flex items-center justify-between py-4">
                <div class="w-1/2 w-auto text-center text-white text-2xl font-bold">
                    Racing Shop
                </div>
                <div class="w-1/4 w-auto flex text-right justify-end">
                  <div class="flex items-center ml-2">
                    <span class="text-white text-sm mr-1">Welcome, guest</span>
                  </div>
                </div>
              </div>
            </div>
          </div>